.logo{
  width: 48px;
  height: 26px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 800;
  line-height: 20px;
  cursor: pointer;
  text-decoration:none;
  &:hover{
   /* text-shadow: white 0 0 4px; */
   opacity: .5;
  }
}