.main-menu__list{
  display: flex;
  flex-direction:row;
}
.main-menu__item{
  margin-right: 60px;
}
.main-menu__item:last-child{
  margin-right: 0px;
}
.main-menu__link{
  text-decoration:none;
  color:white;
  &:hover{
   opacity: .5;
  }
}
