.main-menu__list{
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  @include tablets{
   
  }
}
.main-menu--header{
  @include tablets{
    display: none;
  }
}
.main-menu__item{
  margin-right: 60px;
  @include tablets{
    line-height: 3;
  }
}
.main-menu__item:last-child{
  margin-right: 0px;
}
.main-menu__link{
  text-decoration:none;
  color:white;
  &:hover{
  color:#ff9a00;
  }
}
