section.contact
  //- .container
  .contact__title-wrap
    h3.contact__title.title Связаться со мной
  form.contact__form(action="" method="GET")
    .contact__form-wrap.contact__form-wrap--name
      label.contact__form-label Ввдите ваше имя
      .contact__form-icon-wrap
        +icon('user','form-icon')
      input.contact__form-input.contact__form-input--name(type="text" name="name" required placeholder='Никита Еремеев')
    .contact__form-wrap.contact__form-wrap--email
      label.contact__form-label Ввдите ваш email
      .contact__form-icon-wrap
        +icon('envelope','form-icon')
      input.contact__form-input.contact__form-input--email(type="email" name="email" required placeholder='client@yandex.ru')
    .contact__form-wrap.contact__form-wrap--text
      label.contact__form-label Сообщение к письму
      .contact__form-icon-wrap.contact__form-icon-wrap--text
        +icon('message','form-icon')
      textarea.contact__form-input.contact__form-input--text(type="text" name="name" required placeholder='Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса')
    input.contact__form-submit(type="submit" value="Отправить" name="send")
  //- h3.contact__title.title Связаться со мной
  //- form.contact__form(action="" method="GET")
  //-   .contact__user-data
  //-     label.contact__user-data__label
  //-       .contact__user-data__label-title Введите ваше имя
  //-       .contact__user-data__label-wrap
  //-         +icon('user','form-icon')
  //-         input.contact__user-data__input(type="text" name="name" required placeholder='Никита Еремеев')
  //-     label.contact__user-data__label
  //-       .contact__user-data__label-wrap
  //-         .contact__user-data__label-title Введите ваш email
  //-         +icon('envelope','form-icon')
  //-       input.contact__user-data__input(type="email" name="email" required placeholder='clien@yandex.ru')
  //-   .contact__user-text
  //-     label.contact__user-text__label
  //-       .contact__user-data__label-title Сообщение к письму
  //-       +icon('message','form-icon')
  //-       textarea.contact__user-text__textarea(name="comment" placeholder='Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса')
  //-   input.contact__form-submit(type="submit" value="Отправить" name="send")
