nav.hamburger-nav(id='hamburger-menu')
  ul.hamburger-nav__list
    -var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
    each item in menu 
      li.hamburger-nav__item
        a(href="#").hamburger-nav__link=item
  +socials('hamburger')
  include ./socials.pug
  .hamburger-close(id="close-hamburger")
    a.close-menu(href="#")