header.header
  include ./logo.pug
  //- +nav('nav', ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'])
  include ./main-menu.pug
  include ./socials.pug
  +socials('header')

  //- ul.social__list
  //-   li.social__item
  //-     a.social__link(href="#")
  //-       +icon('insta','link-class')
  //-   li.social__item
  //-     a.social__link(href="#")
  //-       +icon('vk','link-class')
  //-   li.social__item
  //-     a.social__link(href="#")
  //-       +icon('github','link-class')