section.myWorks
  #myWorks__component
      
script(type="text/x-template")#myWorks__container
  .container.myWorks-container#works-section
    .myWorks__title
      .myWorks__title-wrap
        h2.myWorks__title-text.title Мои работы
    .myWorks__content
      .myWorks__slider
        display(
          :works="works",
          :currentWork="currentWork"
          @slide="handleSlide"
          @sliderPreviewClick = "sliderPreviewClick"
        )
        info(
          :currentWork="currentWork"
        )
        
script(type="text/x-template")#myWorks__display
  .myWorks__slider-pics-wrap
    .myWorks__slider-pics
      .myWorks__slider-current-pic-wrap
        img(:src="currentWork.photo").myWorks__slider-current-pic
      .myWorks__slider-preview-wrap
        preview(
          :works="works",
          :currentWork="currentWork"
           @sliderPreviewClick="currentId => $emit('sliderPreviewClick',currentId)"
        )
        controls(
          @slide="direction => $emit('slide',direction)"
        )
      .myWorks__slider-number-wrap
        .myWorks__slider-number {{currentWork.id}}

script(type="text/x-template")#myWorks__preview
  ul.myWorks__slider-preview
    li.myWorks__slider-preview_item(
      ref="slideritems"
      v-for="work in works"
      @click.prevent="$emit('sliderPreviewClick',work.id)"
      :class="{myWorks__slider_preview_active:work.id===currentWork.id}"
      )
      a(href="#" ref="slider_link").myWorks__slider-img
        img(:src="work.photo").myWorks__slider-image

script(type="text/x-template")#myWorks__btn_controls
  .myWorks__slider-controls
    button.myWorks__slider-btn.myWorks__slider-next(@click.prevent="$emit('slide','next')") >
    button.myWorks__slider-btn.myWorks__slider-prev(@click.prevent="$emit('slide','prev')") <

script(type="text/x-template")#myWorks__info
  .myWorks__slider-desc
    devStack(
      :devStack="devStackArray"
    )
    .myWorks__slider-title-wrap
      .myWorks__slider-title {{currentWork.title}}
    .myWorks__slider-text
      p {{currentWork.desc}}
    .myWorks__slider-link-wrap
      +icon('link','myWorks__slider-link-icon')
      a(:href="currentWork.link").myWorks__slider-link Посмотреть сайт

script(type="text/x-template")#myWorks__dev_stack
  ul.myWorks__slider-tags-list
    li.myWorks__slider-tags-item(v-for="tag in devStack")
      .myWorks__slider-tag {{tag}}
    