section.myWorks
  h2.myWorks__title Мои работы
  ul.myWorks__slider.example__list
    li.example-item
      .example.image 
        +image('content/work_example.jpg', 'example_img')
      .example__next 2
      .example__desc
        ul.example__desc-skills_list.mySkills_list
          li.mySkills__item HTML
          li.mySkills__item CSS
          li.mySkills__item JavaScript
        h3.example__desc-title Сайт Школы Образованиия
        p.example__desc-txt Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        a.example__desc-link(href="#") Посмотреть сайт