section.parallax  
  //- .test-wrap
  .parallax__layer(data-speed="0.1")
    +image('content/parallax-top1.png','parallax__img')
  .parallax__layer(data-speed="0.13")
    +image('content/parallax-mountain1.png','parallax__img')
  .parallax__layer(data-speed="0.18")
    +image('content/parallax-train1.png','parallax__img')
  .parallax__layer(data-speed="0.25")
    +image('content/parallax-bottom1.png','parallax__img')
  .parallax__layer
    .parallax-gradient
      //- +image('content/background-about.png','parallax__img')
  include ./welcome-section.pug
  include ./about.pug