section.parallax  
  .parallax-wrap
    .parallax__layer(data-speed="0.13")
      //- +image('content/parallax-top.png','parallax__img')
      .parallax__img
    .parallax__layer(data-speed="0.15")
      //- +image('content/parallax-mountain.png','parallax__img')
      .parallax__img
    .parallax__layer(data-speed="0.13")
      //- +image('content/parallax-train.png','parallax__img')
      .parallax__img
    .parallax__layer(data-speed="0.20")
      //- +image('content/parallax-bottom.png','parallax__img')
      .parallax__img
    .parallax__layer
      .parallax-gradient
      //- +image('content/background-about.png','parallax__img')
  include ./welcome-section.pug
  include ./about.pug