section.parallax  
  .parallax__layer
    +image('content/parallax-top.png','parallax__img')
  .parallax__layer
    +image('content/parallax-mountain.png','parallax__img')
  .parallax__layer
    +image('content/parallax-train.png','parallax__img')
  .parallax__layer
    +image('content/parallax-bottom.png','parallax__img')
  .parallax__layer
    +image('content/background-about.png','parallax__img')