section.skills
  .container.skills-container
    .skills__wrap
      .skills__text-wrap
        .skills__text
          h2.skills__text-title.title Чем я могу быть полезен вам
          .skills__desc 
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .skills__block
        ul.skills_block_list
          li.skills_block_item
            .skills__block-caption-wrap
              h3.skills__block-caption Front-end
            +skill('skills__bars',[{tech:'HTML5',value:'animation-delay: -25s'},{tech:'CSS3',value:'animation-delay: -20s'},{tech:'JavaScript',value:'animation-delay: -75s'},{tech:'jQuery и Vue.js',value:'animation-delay: -25s'}])
          li.skills_block_item
            .skills__block-caption-wrap
              h3.skills__block-caption WorkFlow
            +skill('skills__bars',[{tech:'GIT',value:'animation-delay: -10s'},{tech:'Terminal',value:'animation-delay: -25s'},{tech:'Gulp',value:'animation-delay: -50s'},{tech:'Webpack',value:'animation-delay: -40s'}])
