section.welcome-section
  .container.welcome-container.fullscreen-section
    include ./header.pug
    .welcome-section__content
      .welcome-section__content-wrap
        .welcome-section__title-wrap
          h3.welcome-section__title   Личный сайт веб разработчика
        .welcome-section__name-title-wrap
          h1.welcome-section__name-title Никита Еремеев
    .welcome-section__scroll
      a.welcome-section__scroll-link(href='#') Скролл
      +icon('scroll', 'welcome-section__scroll-icon')
  include ./hamburger-menu.pug
  //- include ./about.pug
