 header.header
    .initials НЕ
    +nav('nav', ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'])
    ul.social__list
        li.social__item
            a.social__link(href="#")
                +icon('insta','link-class')
        li.social__item
            a.social__link(href="#")
                    +icon('vk','link-class')
        li.social__item
            a.social__link(href="#")
                    +icon('github','link-class')

